.formcheck {
	position: relative;
	$p: &;
	&__input {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + #{$p}__label::after {
			opacity: 1;
		}
	}
	&__label {
		display: inline-block;
		margin: 0;
		padding-left: 48px;
		font-size: 12px;
		line-height: normal;
		color: $greyText;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		&::before {
			width: 24px;
			height: 24px;
			border: 1px solid $btnNormal;
			left: 0;
			box-sizing: border-box;
		}
		&::after {
			width: 20px;
			height: 20px;
			background-color: $btnNormal;
			left: 2px;
			opacity: 0;
			transition: all .2s ease-out;
		}
		a {
			color: $greyText;
			&:hover, &:focus, &:active {
				color: $greyText;
			}
		}
	}
}
