.popup {
	position: fixed;
	left: 0;
	top: 0;
	transform: translateY(-100vh);
	display: none;
	opacity: 0;
	z-index: 5;
	width: 100%;
	height: 100vh;
	padding: 16px 16px 90px;
	overflow-y: scroll;
	background-color: $darkText;
	transition: all .3s ease;
	&.display {
		display: block;
	}
	&_visible {
		transform: translateY(0);
		opacity: 1;
	}
	&.visible {
		opacity: 1;
		transform: translateY(0);
	}
	&_sb {
		&.display {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&_transparence {
		background-color: rgba(34, 30, 31, .9);
	}
	&__confirm {
		margin: 0;
	}
	&__logo {
		position: absolute;
		left: 12px;
		top: 46%;
		transform: translateY(-50%);
		z-index: 1;
		display: inline-block;
		width: calc(100% - 24px);
		height: auto;
	}
}
.popup-program {
	&__title,
	&__subtitle {
		display: block;
		margin: 0 0 16px;
	}
	&__chouse-day {
		width: 100%;
		margin-bottom: 24px;
	}
	&__event {
		display: block;
		padding: 16px 0;
		border-top: 1.3px solid $border;
		border-bottom: 1.3px solid $border;
		time {
			display: block;
			margin-bottom: 16px;
			font-size: 12px;
			line-height: 16px;
			font-weight: 500;
			color: #fff;
		}
		p {
			display: block;
			margin: 0;
			min-height: 32px;
			font-size: 12px;
			line-height: 16px;
			color: #fff;
		}
	}
	&__close {
		width: 100%;
		margin-top: 16px;
	}
}
.popup-lk {
	&__top {
		margin-bottom: 64px;
	}
	&__registr-row {
		margin-bottom: 16px;
	}
	&__registr-row-11 {
		display: none;
		&.display {
			display: block;
		}
	}
	&__title {
		margin-bottom: 24px;
	}
	&__input-name,
	&__input-email,
	&__input-tel {
		width: 100%;
	}
	&__input-name,
	&__input-email {
		margin-bottom: 16px;
	}
	&__add {
		width: 100%;
	}
	&__plus {
		margin-top: 8px;
		margin-bottom: 16px;
	}
	&__notification {
		margin: 0 0 4px;
	}
	&__see-program {
		margin-bottom: 16px;
	}
	&__flex {
		display: flex;
		justify-content: space-between;
	}
}
