.programs {
	padding-bottom: 24px;
	&__wrap {
		margin-bottom: 24px;
	}
}

.slider {
	display: flex;
	overflow-x: scroll;
	padding-left: 24px;
	&__item {
		margin-right: 16px;
		display: block;
		min-width: 242px;
		&:last-child {
			min-width: calc(242px + 24px);
			margin-right: 0;
			padding-right: 24px;
		}
	}
	&__programs-date {
		display: block;
		margin-top: 0;
		margin-bottom: 16px;
		color: $darkText;
	}
}

.programs-card {
	display: block;
	width: 100%;
	padding: 16px;
	background-color: $darkText;
	&__title {
		display: block;
		margin-top: 0;
		margin-bottom: 8px;
	}
	&__block-photos {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;
	}
	&__prew {
		display: block;
		width: calc(50% - 4px);
	}
	&__img {
		width: 100%;
		height: 112px;
		margin-bottom: 8px;
	}
	&__name {
		display: block;
		min-height: 32px;
		margin: 0;
		font-size: 10px;
		line-height: 1.45;
		color: #fff;
		text-transform: uppercase;
	}
	&__content {
		display: block;
		margin-bottom: 24px;
		min-height: 128px;
		p {
			display: block;
			margin: 0;
			font-size: 12px;
			line-height: 1.45;
			color: #fff;
		}
	}
	&__more-info {
		display: block;
		margin: 0 auto;
	}
}
